In [8]:
import pandas as pd
import numpy as np
import pickle
import itertools as iter

Starting point ...

In [3]:
def compare_votes(votes):  
    # Create a contestant by contestant matrix corresponding to the number of like votes
    like_votes = np.array([None] * votes.shape[0]**2).reshape((votes.shape[0], votes.shape[0]))

    for (i, j) in iter.combinations(range(votes.shape[0]), 2):
        like_votes[i, j] = sum(votes.iloc[i, :] == votes.iloc[j, :])

    like_votes = pd.DataFrame(like_votes)
    like_votes.index = votes.index
    like_votes.columns = votes.index
    return like_votes

In [4]:
seasons = pickle.load( open( "wiki_scrape.p", "rb" ) )
seasons.keys()

[u'Palau',
 u'Tocantins',
 u'Borneo',
 u'Africa',
 u'Panama',
 u'Cambodia',
 u'Blood_vs._Water',
 u'Marquesas',
 u'Pearl_Islands',
 u'Vanuatu',
 u'The_Australian_Outback',
 u'Heroes_vs_Villains',
 u'Guatemala',
 u'China',
 u'Worlds_Apart',
 u'Thailand',
 u'The_Amazon',
 u'Cagayan',
 u'South_Pacific',
 u'One_World',
 u'Philippines',
 u'Caramoan',
 u'Gabon',
 u'Micronesia',
 u'Samoa',
 u'All-Stars',
 u'Nicaragua',
 u'Heroes_vs._Villains',
 u'San_Juan_del_Sur',
 u'Cook_Islands',
 u'Redemption_Island',
 u'Fiji']

In [9]:
compare_votes(seasons['Thailand']['votes'])

1,Brian,Clay,Jan,Helen,Ted,Jake,Penny,Ken,Erin,Shii Ann,Robb,Stephanie,Ghandia,Jed,Tanya,John
1,,,,,,,,,,,,,,,,
Brian,None,12,12,11,11,0,0,0,0,0,0,0,2,0,1,0
Clay,None,None,12,10,10,0,1,0,0,0,0,0,2,0,1,0
Jan,None,None,None,12,12,2,0,0,0,1,1,1,4,1,2,1
Helen,None,None,None,None,13,3,1,1,1,2,2,2,3,2,2,2
Ted,None,None,None,None,None,4,2,2,2,3,3,3,5,3,4,3
Jake,None,None,None,None,None,None,12,12,10,10,7,7,4,6,4,4
Penny,None,None,None,None,None,None,None,15,13,11,8,8,5,7,5,5
Ken,None,None,None,None,None,None,None,None,14,12,9,9,6,8,6,6
Erin,None,None,None,None,None,None,None,None,None,13,10,10,7,9,7,7
Shii Ann,None,None,None,None,None,None,None,None,None,None,12,12,9,11,9,9
Robb,None,None,None,None,None,None,None,None,None,None,None,15,10,13,10,10
Stephanie,None,None,None,None,None,None,None,None,None,None,None,None,11,14,11,11
Ghandia,None,None,None,None,None,None,None,None,None,None,None,None,None,12,14,12
Jed,None,None,None,None,None,None,None,None,None,None,None,None,None,None,13,13
Tanya,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,14
John,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None